html {
  line-height: 1.2em;
  font-family: tahoma;
  font-size: 15px;
}

input {
  widith: 95%;
  height: 30px;
  margin: 0 auto;
  
}

div {
  widith: 50%;
  margin: 0 auto;
}

label {
  display: block;
  background-color: #c9e5f2;
  text-align: center;
  height: 30px;
}

